.top {
  background-image: url(../image/top-mv_sp.png);
  background-position: center;
  background-size: cover;
  height: 674px;
  margin-top: 100px;
  position: relative;
  @include overTab {
    background-image: url(../image/top-bg.png);
  }

  .top-title {
    font-size: 35px;
    color: cl(white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    @include overTab {
      font-size: 50px;
    }
  }
}
